<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJs App</title>
</head>
<body>
<form action="/" method="post">
    <label for="city">Город</label>
    <input type="text" id="city" placeholder="Название города" name="city">
    <button type="submit">Узнать погоду</button>
</form>
<h3 class="result">
    <%=temperature %>
</h3>

</body>
</html>
